/*
COLOR PALETTE
#001E6C #035397 #E8630A #FCD900 #ededed
*/

@import url('https://fonts.googleapis.com/css2?family=Andika&family=Poppins:wght@300&family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', 'cursive';
    color: #ededed;
    /* background: #001E6C; */
    background-image: url(../Wallpapers/thumb-1920-1160159.png);
    background-size: cover;
    user-select: none;
}

#mascot-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 40px;
    color: #FCD900;
    text-shadow: rgb(34, 34, 34) 3px 0px 0px, rgb(34, 34, 34) 2.83487px 0.981584px 0px, rgb(34, 34, 34) 2.35766px 1.85511px 0px, rgb(34, 34, 34) 1.62091px 2.52441px 0px, rgb(34, 34, 34) 0.705713px 2.91581px 0px, rgb(34, 34, 34) -0.287171px 2.98622px 0px, rgb(34, 34, 34) -1.24844px 2.72789px 0px, rgb(34, 34, 34) -2.07227px 2.16926px 0px, rgb(34, 34, 34) -2.66798px 1.37182px 0px, rgb(34, 34, 34) -2.96998px 0.42336px 0px, rgb(34, 34, 34) -2.94502px -0.571704px 0px, rgb(34, 34, 34) -2.59586px -1.50383px 0px, rgb(34, 34, 34) -1.96093px -2.27041px 0px, rgb(34, 34, 34) -1.11013px -2.78704px 0px, rgb(34, 34, 34) -0.137119px -2.99686px 0px, rgb(34, 34, 34) 0.850987px -2.87677px 0px, rgb(34, 34, 34) 1.74541px -2.43999px 0px, rgb(34, 34, 34) 2.44769px -1.73459px 0px, rgb(34, 34, 34) 2.88051px -0.838247px 0px, 4px 4px 8px #212121;
}

.subtitle {
    font-size: 20px;
    font-family: 'Press Start 2P', 'cursive';
    text-shadow: rgb(34, 34, 34) 2px 0px 0px, rgb(34, 34, 34) 1.75517px 0.958851px 0px, rgb(34, 34, 34) 1.0806px 1.68294px 0px, rgb(34, 34, 34) 0.141474px 1.99499px 0px, rgb(34, 34, 34) -0.832294px 1.81859px 0px, rgb(34, 34, 34) -1.60229px 1.19694px 0px, rgb(34, 34, 34) -1.97998px 0.28224px 0px, rgb(34, 34, 34) -1.87291px -0.701566px 0px, rgb(34, 34, 34) -1.30729px -1.5136px 0px, rgb(34, 34, 34) -0.421592px -1.95506px 0px, rgb(34, 34, 34) 0.567324px -1.91785px 0px, rgb(34, 34, 34) 1.41734px -1.41108px 0px, rgb(34, 34, 34) 1.92034px -0.558831px 0px, 4px 4px 8px #212121;
}

.cards, #attack-buttons {
    display: flex;
    gap: 10px;
}

#attack-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mascot-card {
    width: 240px;
    height: 100px;
    display: flex;
    background: #03539770;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid #ededed;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 2px #21212155;
}

.mascot-card p {
    font-size: 14px;
    text-shadow: rgb(33, 33, 33) 1px 0px 0px, rgb(33, 33, 33) 0.540302px 0.841471px 0px, rgb(33, 33, 33) -0.416147px 0.909297px 0px, rgb(33, 33, 33) -0.989992px 0.14112px 0px, rgb(33, 33, 33) -0.653644px -0.756802px 0px, rgb(33, 33, 33) 0.283662px -0.958924px 0px, rgb(33, 33, 33) 0.96017px -0.279415px 0px, 0px 0px 8px #212121ff; 
}

.mascot-card img {
    width: 80px;
}

#select-mascot-button {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: #03539770;
    color: #ededed;
    border: 2px solid #ededed;
    font-family: 'Press Start 2P', 'cursive';
    margin-top: 20px;
    box-shadow: 2px 2px 10px #21212155;
    text-shadow: rgb(33, 33, 33) 1px 0px 0px, rgb(33, 33, 33) 0.540302px 0.841471px 0px, rgb(33, 33, 33) -0.416147px 0.909297px 0px, rgb(33, 33, 33) -0.989992px 0.14112px 0px, rgb(33, 33, 33) -0.653644px -0.756802px 0px, rgb(33, 33, 33) 0.283662px -0.958924px 0px, rgb(33, 33, 33) 0.96017px -0.279415px 0px, 0px 0px 8px #212121ff;    
}

#restart-button {
    background: #03539770;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid #ededed;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 2px #21212155;
    color: #ededed;
    text-shadow: rgb(33, 33, 33) 1px 0px 0px, rgb(33, 33, 33) 0.540302px 0.841471px 0px, rgb(33, 33, 33) -0.416147px 0.909297px 0px, rgb(33, 33, 33) -0.989992px 0.14112px 0px, rgb(33, 33, 33) -0.653644px -0.756802px 0px, rgb(33, 33, 33) 0.283662px -0.958924px 0px, rgb(33, 33, 33) 0.96017px -0.279415px 0px, 0px 0px 8px #212121ff; 
    font-family: 'Press Start 2P', 'cursive';
}

#hipodoge, #capipepo, #ratigueya {
    display: none;
}

.attack-button {
    background: #03539770;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid #ededed;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 2px #21212155;
    color: #ededed;
    text-shadow: rgb(33, 33, 33) 1px 0px 0px, rgb(33, 33, 33) 0.540302px 0.841471px 0px, rgb(33, 33, 33) -0.416147px 0.909297px 0px, rgb(33, 33, 33) -0.989992px 0.14112px 0px, rgb(33, 33, 33) -0.653644px -0.756802px 0px, rgb(33, 33, 33) 0.283662px -0.958924px 0px, rgb(33, 33, 33) 0.96017px -0.279415px 0px, 0px 0px 8px #212121ff; 
    font-family: 'Press Start 2P', 'cursive';
}

#messages {
    width: 400px;
    background: #edededaa;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 20px;
    font-family: 'Press Start 2P', 'cursive';
    font-size: 15px;
    color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #ededed;
}

#restart-button {
    background: #03539770;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #ededed;
    box-shadow: 0px 0px 10px 2px #21212155;
    color: #ededed;
    text-shadow: 1px 1px 5px #21212155;
    font-family: 'Press Start 2P', 'cursive';
}

#attack-messages {
    text-shadow: rgb(33, 33, 33) 1px 0px 0px, rgb(33, 33, 33) 0.540302px 0.841471px 0px, rgb(33, 33, 33) -0.416147px 0.909297px 0px, rgb(33, 33, 33) -0.989992px 0.14112px 0px, rgb(33, 33, 33) -0.653644px -0.756802px 0px, rgb(33, 33, 33) 0.283662px -0.958924px 0px, rgb(33, 33, 33) 0.96017px -0.279415px 0px, 0px 0px 8px #212121ff;
}

#attack-messages {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-items: center;
}

#attack-messages .health {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    background: #E8630Aaa;
    border-radius: 20px;
    border: 3px solid #ededed;
}

@media (max-width: 360px) {
    .cards {
        flex-direction: column;
    }

    .title {
        font-size: 32px;
    }

    .subtitle {
        font-size: 14px;
    }
}